<div class="footer">
  <script src="https://cdn.commoninja.com/sdk/latest/commonninja.js" defer></script>
  <div class="commonninja_component pid-dea00010-949a-4b97-8188-207494a31297"></div>
  <div class="row">
    <div class="column">
      <p><b>ĐIỆN MÁY XANH </b></p>
      <p><b>Tổng đài hỗ trợ </b>(Miễn phí gọi)</p>
      <p>Gọi mua: <b>1800.1061</b> (7:30 - 22:00)</p>
      <p>Kỹ thuật: <b>1800.1764</b> (7:30 - 22:00)</p>
      <p>Khiếu nại: <b>1800.1063</b> (8:00 - 21:30)</p>
      <p>Bảo hành: <b>1800.1065</b> (8:00 - 21:00)</p>
    </div>
    <div class="column">
      <div class="form-sale">
        <p><b> Tặng mã giảm giá</b></p>
        <input type="text" name="" id="" placeholder="Nhập email" />
        <br />
        <input type="text" name="" id="" placeholder="Nhập SĐT" />
        <br />
        <button>Nhận mã</button>
        <p><i>*Áp dụng cho khách mua lần đầu</i></p>
      </div>
    </div>
    <div class="column">
      <img src="https://i1-sohoa.vnecdn.net/2022/12/07/Online-740X400-7465-1670427593.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=cj2gx9KRNVPzjp3MIeThbA" alt="" width="250px">
    </div>
    <div class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15714.5116868768!2d106.57020419845169!3d10.047530427533383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x319ff9b21091e591%3A0xcb35c4a95a9aaccc!2zVGjhur8gR2nhu5tpIERpIMSQ4buZbmc!5e0!3m2!1sen!2s!4v1671942129010!5m2!1sen!2s" width="420px" height="220px" style="border-radius: 10px" allowfullscreen="" loading="async" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>