<header>
  <div class="box-top-quangcao">
    <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2024/03/banner/1200-44-1200x44-1.png" alt="" />
  </div>
  <div class="box-top-logo">

    <nav class="navbar">

      <a href="/">
        <img src="https://stc.shopiness.vn/brand/2020/03/05/d/5/8/2/1583382528872.png" alt="Logo" />
      </a>
      <ul class="main-header__item-list">
        <li class="main-header__item"><a class="active" href="/">Trang chủ</a></li>
        <li class="main-header__item"><a class="active" href="/products">Sản phẩm</a></li>
        <li class="main-header__item"><a href="/add-product">Thêm sản phẩm</a></li>
      </ul>
      <label class="button-top">Xem giá tồn kho tại Hồ Chí Minh</label>
      <input class="search" type="text" placeholder="Bạn tìm gì..." />
      <label class="button-top">Lịch sử đơn hàng</label>

      <label class="button-top"><i class="fa fa-cart-shopping"></i> Giỏ hàng</label>

      <a href="/">
        <img id="avatar" src="https://cdn.imgbin.com/5/23/22/imgbin-administrative-assistant-virtual-assistant-secretary-office-administrative-professionals-week-others-LQmbD7sJJwCUTEfWkqaqDK0Nr.jpg" style="height: 30px; width: 30px; border-radius: 50%; margin-bottom: -10px;">
      </a>
    </nav>


  </div>

  <div class="box-menu">
    <span class="button-menu">
      <a href="#"><i class="fa-solid fa-bars"></i>&nbsp Tất cả danh mục |</a>
      <ul class="menu-list">
        <li>Tivi</li>
        <li>Tủ lạnh</li>
        <li>Máy giặt</li>
        <li>Máy nước nóng</li>
        <li>Nồi cơm điện</li>
        <li>Máy lọc nước</li>
        <li>Nồi chiên</li>
        <li>Laptop</li>
        <li>Điện thoại</li>
        <li>Đồ gia dụng</li>
      </ul>
    </span>
    <a href="#">Tivi</a>
    <a href="#">Tủ lạnh</a>
    <a href="#">Máy giặt</a>
    <a href="#">Máy nước nóng</a>
    <a href="#">Nồi cơm điện</a>
    <a href="#">Nồi chiên</a>
    <a href="#">Máy lọc nước</a>
    <a href="#">Điện thoại</a>
    <a href="#">Laptop</a>
    <a href="#">Đồ gia dụng</a>
  </div>
</header>